.FooterContainer{
    padding-left:100px;
    padding-right:100px;
    display:flex;
    background-color:rgb(247, 246, 238);
    justify-content: space-between;
}
.FooterLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.FooterRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.FooterMiddle{
    display:flex;
    gap:18px;
    align-items:center;
    justify-content: center;

}

.FooterMiddleRight{
    margin:10px;
}